* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


#heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#line {
    height: 5px;
    background-color: #f16e03;
    width: 70px;
    margin-top: 8px;
}

#b1 {
    height: 40px;
    background-color: transparent;
    font-size: 18px;
    border: 2px #f16e03 solid;
    padding: 0px 40px;
    cursor: pointer;
}

/* HEADER---------------------------------------------------- */
.header {
    background: linear-gradient(rgba(27, 27, 27, 0.5), rgba(20, 19, 19, 0.5)), url('1.png');
}

.menu {
    border-bottom: 1px grey solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    height: 80px;
}

.menu img {
    height: 50px;
    width: 150px;
}

.m1 a,
.m2 a {
    color: #fff;
    text-decoration: none;
    margin: 0px 15px;
    font-size: 17px;
}

.m2 i {
    color: orange;
}

.body {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body h1 {
    text-align: center;
    color: #fff;
    line-height: 45px;
}

.body button {
    height: 40px;
    padding: 0px 25px;
    background-color: #f16e03;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border: 0px;
    box-shadow: 0px 0px 5px black;
}

/* SECTION 1------------------------------------------------- */
.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 550px;
}

.s1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.s1d1,
.s1d2,
.s1d3 {
    box-shadow: 0px 0px 5px black;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 0px 30px;
    height: 300px;
    width: 300px;
}

.s1d1 {
    background: url('2.png');
}

.s1d2 {
    background: url('3.png');
}

.s1d3 {
    background: url('4.png');
}

.s1d1 h4,
.s1d2 h4,
.s1d3 h4 {
    width: 60%;
    padding: 10px 20px;
    text-align: center;
    background-color: #fff;
}

/* SECTION 2---------------------------------------------- */
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 430px;
    background-color: rgb(236, 236, 236);

}

.s2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.s2d1 {
    width: 240px;
    height: 230px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 20px;
    padding: 0px 10px;
}

.s2d1 i {
    color: #f16e03;
    font-size: 60px;
}

/* SECTION 3---------------------------------------------- */
.section3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 670px;
}

.s3grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
}

.s3grid img {
    height: 250px;
    width: 270px;
}

#s3i1 {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 560px;
}

#s3i6 {
    grid-column-start: 3;
    grid-column-end: 5;
    width: 560px;
}

/* SECTION 4------------------------------------------------ */
.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.s4 {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#s4a {
    background-color: #fff;
    height: 400px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}

#s4b {
    height: 380px;
    width: 780px;
    background-color: darkgray;
}

.s4d1 {
    background-color: #f16e03;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s4text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 230px;
    text-align: center;
    color: #fff;
    margin-top: 200px;
}

.s4text a {
    color: #fff;
    text-decoration: none;
    margin: 0px 15px;
    font-size: 17px;
}

.s4text i {
    color: rgb(255, 168, 6);
}

.s4text button {
    height: 40px;
    padding: 0px 25px;
    background-color: black;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border: 0px;
    box-shadow: 0px 0px 5px black;
}

/* SECTION 5---------------------------------------------- */
.section5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    padding: 20px 0px;

}

.s5d {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    width: 80%;
    margin-top: 20px;
}

.s5d img {
    height: 350px;
    width: 600px;
}

.s5d1 {
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 25px;
}

.s5d1 p {
    font-size: 15px;
    letter-spacing: .5px;
    color: rgb(90, 87, 87);
    margin-right: 30px;
}

.s5p {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 160px;
    margin-top: 30px;
}

.s5p1 {
    text-align: left;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

.s5p1 img {
    height: 140px;
    width: 150px;
}

.s5p2 {
    height: 140px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 30px;
    margin: 0px 10px;
}

.section5 h6 {
    color: #f16e03;
    font-size: 12px;
}

/* SECTION 6-------------------------------------------- */
.section6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 550px;
    padding-bottom: 50px;
    background-color: aliceblue;
}

.section6 img {
    height: 400px;
    width: 800px;
}

/* SECTION 7 -------------------------------------------*/
.section7 {
    height: 600px;
    padding: 50px 50px;
    background: linear-gradient(to right, rgba(249, 249, 249, 0.7), rgb(245, 245, 245, 1)), url('12.png');
    background-size: cover;
}

.s7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
}

.s7 p {
    column-count: 2;
    column-gap: 50px;
    line-height: 30px;
    margin: 15px 0px;
    text-align: justify;
}

/* SECTION 8 ------------------------------------------- */

/* SECTION 9-------------------------------------------- */
.section9 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(90, 87, 87);
    color: white;
    height: 320px;
    padding: 50px 10px;
}

.s9d1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 26%;
    line-height: 30px;
    text-align: left;
}

.s9d1 img {
    height: 50px;
    width: 150px;
    margin-bottom: 20px;
}

.s9d2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: fit-content;
    line-height: 30px;
    padding: 10px;
}

.s9detail {
    display: flex;
    align-items: center;
}

#icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 13px;
    background-color: rgb(255, 168, 6);
}

.s9d3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: fit-content;
    line-height: 30px;
    padding: 10px;
}

.s9d3 p {
    word-spacing: 80px;
    text-align: justify;
}

.s9d3 a {
    text-decoration: none;
    color: white;
}

.s9d4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: fit-content;
    line-height: 30px;
    padding: 10px;
}

.s9d4images img {
    height: 100px;
    width: 100px;
    opacity: 80%;
}

.s9d4images {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}